<template>
    <div class="p-formatted-element-string-raw-html" v-html="value.stringEvaluated">
    </div>
</template>

<script>
import FormattedElementStringRawHTML from "../../../domain/ts/Formatted/FormattedElementStringRawHTML";

export default {
    props: {
        value: {
            type: FormattedElementStringRawHTML,
            required: true
        }
    }
};
</script>