<template>
    <div :class="classes">
        <p-formatted-element-renderer v-for="(element, index) in value.elements" :key="index" :value="element" />
    </div>
</template>

<script>
import PFormattedElementRenderer from "./PFormattedElementRenderer";
import { Alignment } from "../../../domain/ts/Enums";
import FormattedSegmentText from "../../../domain/ts/Formatted/FormattedSegmentText";

export default {
    components: {
        "p-formatted-element-renderer": PFormattedElementRenderer
    },
    props: {
        value: {
            type: FormattedSegmentText,
            required: true
        }
    },
    computed: {
        classes() {
            let result = "p-formatted-segment p-formatted-segment-text";

            if (this.value.alignment == Alignment.Left) {
                result += " p-formatted-segment-text-left";
            } else if (this.value.alignment == Alignment.Center) {
                result += " p-formatted-segment-text-center";
            } else if (this.value.alignment == Alignment.Right) {
                result += " p-formatted-segment-text-right";
            } else {
                throw new Error(`Unexpected value for Alignment: ${this.value.alignment}`);
            }

            return result;
        }
    }
};
</script>