<template>
    <img class="p-formatted-element p-formatted-element-string-image" :src="value.stringEvaluated" />
</template>

<script>
import FormattedElementStringImage from "../../../domain/ts/Formatted/FormattedElementStringImage";

export default {
    props: {
        value: {
            type: FormattedElementStringImage,
            required: true
        }
    }
};
</script>