<template>
    <li class="p-formatted-segment-list-item">
        <input v-if="valueKind == FormattedSegmentListKind.Task" type="checkbox" v-model="value.value" />

        <p-formatted-element-renderer v-for="(element, index) in value.elements" :key="index" :value="element" />
    </li>
</template>

<script>
import PFormattedElementRenderer from "./PFormattedElementRenderer";
import { FormattedSegmentListKind } from "../../../domain/ts/Enums";
import FormattedSegmentListItemLeaf from "../../../domain/ts/Formatted/FormattedSegmentListItemLeaf";

export default {
    components: {
        "p-formatted-element-renderer": PFormattedElementRenderer
    },
    props: {
        value: {
            type: FormattedSegmentListItemLeaf,
            required: true
        },
        valueKind: {
            type: Number,
            required: true
        }
    }
};
</script>
