<template>
    <div :style="style" class="p-formatted-element p-formatted-element-string-formula" v-html="rendered">
    </div>
</template>

<script>
import katex from "katex";
import FormattedElementStringFormula from "../../../domain/ts/Formatted/FormattedElementStringFormula";

export default {
    props: {
        value: {
            type: FormattedElementStringFormula,
            required: true
        }
    },
    computed: {
        rendered() {
            return katex.renderToString(this.value.stringEvaluated);
        },
        style() {
            let result = "";

            if (this.value.colorForeground) {
                result += `color: ${this.value.colorForeground.hex()};`;
            }

            if (this.value.colorBackground) {
                result += `background-color: ${this.value.colorBackground.hex()};`;
            }

            return result;
        }
    }
};
</script>