<template>
    <table class="p-formatted-segment-table">
        <tr class="p-formatted-segment-table-row-heading">
            <th v-for="(column, index) in value.columns" :key="index" :style="getColumnStyle(column)" class="p-formatted-segment-table-entry-heading">
                <p-formatted-element-renderer v-for="(element, index2) in column.titleElements" :key="index2" :value="element" />
            </th>
        </tr>

        <tr v-for="(row, index) in value.rows" :key="index" :style="getRowStyle(row)" class="p-formatted-segment-table-row-data">
            <td v-for="(entryElements, index2) in row.entriesElements" :key="index2" :style="getColumnStyle(value.columns[index2])" class="p-formatted-segment-table-entry-data">
                <p-formatted-element-renderer v-for="(element, index3) in entryElements" :key="index3" :value="element" />
            </td>
        </tr>
    </table>
</template>

<script>
import PFormattedElementRenderer from "./PFormattedElementRenderer";
import FormattedSegmentTable from "../../../domain/ts/Formatted/FormattedSegmentTable";

export default {
    components: {
        "p-formatted-element-renderer": PFormattedElementRenderer
    },
    props: {
        value: {
            type: FormattedSegmentTable,
            required: true
        }
    },
    methods: {
        getRowStyle(row) {
            return row.height
                ? `height: ${row.height}px`
                : "";
        },
        getColumnStyle(column) {
            return column.width
                ? `width: ${column.width}px`
                : "";
        }
    }
};
</script>