<template>
    <a class="p-formatted-element p-formatted-element-string-link-external" :href="value.stringURLEvaluated">{{ value.stringEvaluated }}</a>
</template>

<script>
import FormattedElementStringLinkExternal from "../../../domain/ts/Formatted/FormattedElementStringLinkExternal";

export default {
    props: {
        value: {
            type: FormattedElementStringLinkExternal,
            required: true
        }
    }
};
</script>