<template>
    <div class="p-formatted-unit">
        <p-formatted-segment-renderer v-for="(segment, index) in value.segments" :key="index" :value="segment" />
    </div>
</template>

<script>
import PFormattedSegmentRenderer from "./PFormattedSegmentRenderer";
import FormattedUnit from "../../../domain/ts/Formatted/FormattedUnit";

export default {
    components: {
        "p-formatted-segment-renderer": PFormattedSegmentRenderer
    },
    props: {
        value: {
            type: FormattedUnit,
            required: true
        }
    }
};
</script>
