<template>
    <li class="p-formatted-segment-list-node-item">
        <input v-if="value.kind == FormattedSegmentListKind.Task" type="checkbox" v-model="value.value" />

        <p-formatted-element-renderer v-for="(element, index) in value.elements" :key="index" :value="element" />

        <ul v-if="value.kind == FormattedSegmentListKind.Bullet" class="p-formatted-segment-list-node p-formatted-segment-list-node-bullet">
            <p-formatted-segment-list-item-renderer v-for="(child, index) in value.children" :key="index" :value="child" :valueKind="value.kind" />
        </ul>

        <ol v-else-if="value.kind == FormattedSegmentListKind.Numbered" class="p-formatted-segment-list-node p-formatted-segment-list-node-numbered">
            <p-formatted-segment-list-item-renderer v-for="(child, index) in value.children" :key="index" :value="child" :valueKind="value.kind" />
        </ol>

        <ul v-else-if="value.kind == FormattedSegmentListKind.Task" class="p-formatted-segment-list-node p-formatted-segment-list-node-task">
            <p-formatted-segment-list-item-renderer v-for="(child, index) in value.children" :key="index" :value="child" :valueKind="value.kind" />
        </ul>
    </li>
</template>

<script>
import PFormattedElementRenderer from "./PFormattedElementRenderer";
import FormattedSegmentListItemNode from "../../../domain/ts/Formatted/FormattedSegmentListItemNode";

export default {
    components: {
        "p-formatted-element-renderer": PFormattedElementRenderer
    },
    props: {
        value: {
            type: FormattedSegmentListItemNode,
            required: true
        }
    },
    beforeCreate() {
        this.$options.components["p-formatted-segment-list-item-renderer"] = require("./PFormattedSegmentListItemRenderer").default;
    }
};
</script>
