<template>
    <ul v-if="value.kind == FormattedSegmentListKind.Bullet" class="p-formatted-segment p-formatted-segment-list p-formatted-segment-list-bullet">
        <p-formatted-segment-list-item-renderer v-for="(child, index) in value.children" :key="index" :value="child" :valueKind="value.kind" />
    </ul>

    <ol v-else-if="value.kind == FormattedSegmentListKind.Numbered" class="p-formatted-segment p-formatted-segment-list p-formatted-segment-list-numbered">
        <p-formatted-segment-list-item-renderer v-for="(child, index) in value.children" :key="index" :value="child" :valueKind="value.kind" />
    </ol>

    <ul v-else-if="value.kind == FormattedSegmentListKind.Task" class="p-formatted-segment p-formatted-segment-list p-formatted-segment-list-task">
        <p-formatted-segment-list-item-renderer v-for="(child, index) in value.children" :key="index" :value="child" :valueKind="value.kind" />
    </ul>
</template>

<script>
import PFormattedElementRenderer from "./PFormattedElementRenderer";
import PFormattedSegmentListItemRenderer from "./PFormattedSegmentListItemRenderer";
import FormattedSegmentList from "../../../domain/ts/Formatted/FormattedSegmentList";

export default {
    components: {
        "p-formatted-element-renderer": PFormattedElementRenderer,
        "p-formatted-segment-list-item-renderer": PFormattedSegmentListItemRenderer
    },
    props: {
        value: {
            type: FormattedSegmentList,
            required: true
        }
    }
};
</script>