<template>
    <p-formatted-segment-text-renderer v-if="(value instanceof FormattedSegmentText)" :value="value" />
    <p-formatted-segment-heading-renderer v-else-if="(value instanceof FormattedSegmentHeading)" :value="value" />
    <p-formatted-segment-code-renderer v-else-if="(value instanceof FormattedSegmentCode)" :value="value" />
    <p-formatted-segment-table-renderer v-else-if="(value instanceof FormattedSegmentTable)" :value="value" />
    <p-formatted-segment-list-renderer v-else-if="(value instanceof FormattedSegmentList)" :value="value" />
    <p-formatted-segment-quote-renderer v-else-if="(value instanceof FormattedSegmentQuote)" :value="value" />
    <p-formatted-segment-separator-renderer v-else-if="(value instanceof FormattedSegmentSeparator)" :value="value" />
</template>

<script>
import FormattedSegmentText from "../../../domain/ts/Formatted/FormattedSegmentText";
import FormattedSegmentHeading from "../../../domain/ts/Formatted/FormattedSegmentHeading";
import FormattedSegmentCode from "../../../domain/ts/Formatted/FormattedSegmentCode";
import FormattedSegmentTable from "../../../domain/ts/Formatted/FormattedSegmentTable";
import FormattedSegmentList from "../../../domain/ts/Formatted/FormattedSegmentList";
import FormattedSegmentQuote from "../../../domain/ts/Formatted/FormattedSegmentQuote";
import FormattedSegmentSeparator from "../../../domain/ts/Formatted/FormattedSegmentSeparator";
import PFormattedSegmentTextRenderer from "./PFormattedSegmentTextRenderer";
import PFormattedSegmentHeadingRenderer from "./PFormattedSegmentHeadingRenderer";
import PFormattedSegmentCodeRenderer from "./PFormattedSegmentCodeRenderer";
import PFormattedSegmentTableRenderer from "./PFormattedSegmentTableRenderer";
import PFormattedSegmentListRenderer from "./PFormattedSegmentListRenderer";
import PFormattedSegmentQuoteRenderer from "./PFormattedSegmentQuoteRenderer";
import PFormattedSegmentSeparatorRenderer from "./PFormattedSegmentSeparatorRenderer";

export default {
    components: {
        "p-formatted-segment-text-renderer": PFormattedSegmentTextRenderer,
        "p-formatted-segment-heading-renderer": PFormattedSegmentHeadingRenderer,
        "p-formatted-segment-code-renderer": PFormattedSegmentCodeRenderer,
        "p-formatted-segment-table-renderer": PFormattedSegmentTableRenderer,
        "p-formatted-segment-list-renderer": PFormattedSegmentListRenderer,
        "p-formatted-segment-quote-renderer": PFormattedSegmentQuoteRenderer,
        "p-formatted-segment-separator-renderer": PFormattedSegmentSeparatorRenderer
    },
    props: {
        value: {
            type: [
                FormattedSegmentText,
                FormattedSegmentHeading,
                FormattedSegmentCode,
                FormattedSegmentTable,
                FormattedSegmentList,
                FormattedSegmentQuote,
                FormattedSegmentSeparator
            ],
            required: true
        }
    }
};
</script>
