<template>
    <p-formatted-segment-list-item-leaf-renderer v-if="(value instanceof FormattedSegmentListItemLeaf)" :value="value" :valueKind="valueKind" />
    <p-formatted-segment-list-item-node-renderer v-else-if="(value instanceof FormattedSegmentListItemNode)" :value="value" />
</template>

<script>
import FormattedSegmentListItemLeaf from "../../../domain/ts/Formatted/FormattedSegmentListItemLeaf";
import FormattedSegmentListItemNode from "../../../domain/ts/Formatted/FormattedSegmentListItemNode";
import { FormattedSegmentListKind } from "../../../domain/ts/Enums";
import PFormattedSegmentListItemLeafRenderer from "./PFormattedSegmentListItemLeafRenderer";
import PFormattedSegmentListItemNodeRenderer from "./PFormattedSegmentListItemNodeRenderer";

export default {
    components: {
        "p-formatted-segment-list-item-leaf-renderer": PFormattedSegmentListItemLeafRenderer,
        "p-formatted-segment-list-item-node-renderer": PFormattedSegmentListItemNodeRenderer
    },
    props: {
        value: {
            type: [
                FormattedSegmentListItemLeaf,
                FormattedSegmentListItemNode
            ],
            required: true
        },
        valueKind: {
            type: Number,
            required: true
        }
    }
};
</script>
