<template>
    <div :class="classes" :style="style">{{ value.stringEvaluated }}</div>
</template>

<script>
import FormattedElementStringText from "../../../domain/ts/Formatted/FormattedElementStringText";

export default {
    props: {
        value: {
            type: FormattedElementStringText,
            required: true
        }
    },
    computed: {
        classes() {
            let result = "p-formatted-element p-formatted-element-string-text";

            if (this.value.flagBold) {
                result += " p-formatted-element-string-text-bold";
            }

            if (this.value.flagItalic) {
                result += " p-formatted-element-string-text-italic";
            }

            if (this.value.flagUnderlined) {
                result += " p-formatted-element-string-text-underlined";
            }

            if (this.value.flagStrikethrough) {
                result += " p-formatted-element-string-text-strikethrough";
            }

            if (this.value.flagMonospace) {
                result += " p-formatted-element-string-text-monospace";
            }

            return result;
        },
        style() {
            let result = "";

            if (this.value.colorForeground) {
                result += `color: ${this.value.colorForeground.hex()};`;
            }

            if (this.value.colorBackground) {
                result += `background-color: ${this.value.colorBackground.hex()};`;
            }

            return result;
        }
    }
};
</script>