<template>
    <div class="p-formatted-segment p-formatted-segment-quote">
        <p-formatted-element-renderer v-for="(element, index) in value.elements" :key="index" :value="element" />
    </div>
</template>

<script>
import PFormattedElementRenderer from "./PFormattedElementRenderer";
import FormattedSegmentQuote from "../../../domain/ts/Formatted/FormattedSegmentQuote";

export default {
    components: {
        "p-formatted-element-renderer": PFormattedElementRenderer
    },
    props: {
        value: {
            type: FormattedSegmentQuote,
            required: true
        }
    }
};
</script>