<template>
    <div class="p-formatted-segment p-formatted-segment-code" v-html="highlighted">
    </div>
</template>

<script>
import Prism from "prismjs";
import FormattedSegmentCode from "../../../domain/ts/Formatted/FormattedSegmentCode";

export default {
    props: {
        value: {
            type: FormattedSegmentCode,
            required: true
        }
    },
    computed: {
        highlighted() {
            return Prism.highlight(this.value.element.stringEvaluated, Prism.languages.python, "python");
        }
    }
};
</script>