<template>
    <div :class="classes">
        <p-formatted-element-renderer v-for="(element, index) in value.elements" :key="index" :value="element" />
    </div>
</template>

<script>
import PFormattedElementRenderer from "./PFormattedElementRenderer";
import FormattedSegmentHeading from "../../../domain/ts/Formatted/FormattedSegmentHeading";

export default {
    components: {
        "p-formatted-element-renderer": PFormattedElementRenderer
    },
    props: {
        value: {
            type: FormattedSegmentHeading,
            required: true
        }
    },
    computed: {
        classes() {
            let result = "p-formatted-segment p-formatted-segment-heading";

            if (Number.isInteger(this.value.level) && this.value.level >= 1 && this.value.level <= 6) {
                result += ` p-formatted-segment-heading-${this.value.level}`;
            } else {
                throw new Error(`Unexpected value for level: ${this.value.level}`);
            }

            return result;
        }
    }
};
</script>