<template>
    <p-formatted-element-string-text-renderer v-if="(value instanceof FormattedElementStringText)" :value="value" />
    <p-formatted-element-string-link-external-renderer v-else-if="(value instanceof FormattedElementStringLinkExternal)" :value="value" />
    <p-formatted-element-string-formula-renderer v-else-if="(value instanceof FormattedElementStringFormula)" :value="value" />
    <p-formatted-element-string-image-renderer v-else-if="(value instanceof FormattedElementStringImage)" :value="value" />
    <p-formatted-element-string-raw-html-renderer v-else-if="(value instanceof FormattedElementStringRawHTML)" :value="value" />
</template>

<script>
import FormattedElementStringText from "../../../domain/ts/Formatted/FormattedElementStringText";
import FormattedElementStringLinkExternal from "../../../domain/ts/Formatted/FormattedElementStringLinkExternal";
import FormattedElementStringFormula from "../../../domain/ts/Formatted/FormattedElementStringFormula";
import FormattedElementStringImage from "../../../domain/ts/Formatted/FormattedElementStringImage";
import FormattedElementStringRawHTML from "../../../domain/ts/Formatted/FormattedElementStringRawHTML";
import PFormattedElementStringTextRenderer from "./PFormattedElementStringTextRenderer";
import PFormattedElementStringLinkExternalRenderer from "./PFormattedElementStringLinkExternalRenderer";
import PFormattedElementStringFormulaRenderer from "./PFormattedElementStringFormulaRenderer";
import PFormattedElementStringImageRenderer from "./PFormattedElementStringImageRenderer";
import PFormattedElementStringRawHTMLRenderer from "./PFormattedElementStringRawHTMLRenderer";

export default {
    components: {
        "p-formatted-element-string-text-renderer": PFormattedElementStringTextRenderer,
        "p-formatted-element-string-link-external-renderer": PFormattedElementStringLinkExternalRenderer,
        "p-formatted-element-string-formula-renderer": PFormattedElementStringFormulaRenderer,
        "p-formatted-element-string-image-renderer": PFormattedElementStringImageRenderer,
        "p-formatted-element-string-raw-html-renderer": PFormattedElementStringRawHTMLRenderer
    },
    props: {
        value: {
            type: [
                FormattedElementStringText,
                FormattedElementStringLinkExternal,
                FormattedElementStringFormula,
                FormattedElementStringImage,
                FormattedElementStringRawHTML
            ],
            required: true
        }
    }
};
</script>
