// Variables:
// ---------------------------------------------------------------------

$baseFontSize: 14;

// Unit classes:
// ---------------------------------------------------------------------

.p-formatted-unit {
    font-family: "Open Sans", sans-serif;
    font-size: $baseFontSize + px;
}

// Segment classes:
// ---------------------------------------------------------------------

.p-formatted-segment {
    margin-bottom: 16px;
}

.p-formatted-segment-heading {
    font-weight: bold;
}

@for $i from 1 through 6 {
    .p-formatted-segment-heading-#{$i} {
        font-size: $baseFontSize + ((7 - $i) * 4) + px;
    }
}

.p-formatted-segment-list {}

.p-formatted-segment-list-bullet {
    padding-inline-start: 40px;
}

.p-formatted-segment-list-numbered {
    padding-inline-start: 40px;
}

.p-formatted-segment-list-task {
    list-style-type: none;
    padding-inline-start: 20px;
}

.p-formatted-segment-list-item {}

.p-formatted-segment-list-node {}

.p-formatted-segment-list-node-bullet {
    padding-inline-start: 20px;
}

.p-formatted-segment-list-node-numbered {
    padding-inline-start: 20px;
}

.p-formatted-segment-list-node-task {
    list-style-type: none;
    padding-inline-start: 20px;
}

.p-formatted-segment-list-node-item {}

.p-formatted-segment-text-left {
    text-align: left;
}

.p-formatted-segment-text-center {
    text-align: center;
}

.p-formatted-segment-text-right {
    text-align: right;
}

.p-formatted-segment-table {
    background-color: #fafafa;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid #cccccc;
    border-spacing: 0px;
}

.p-formatted-segment-table th {
    background-color: #eeeeee;
    border-bottom: 1px solid #555555;
}

.p-formatted-segment-table th, td {
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.p-formatted-segment-code {
    font-family: "Source Code Pro", monospace;
    display: block;
    background-color: #eeeeee;
    padding: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    white-space: pre;
}

.p-formatted-segment-quote {
    border-left: 3px solid #999999;
    background-color: #eeeeee;
    padding: 8px;
    font-style: italic;
}

.p-formatted-segment-separator {
    width: 100%;
    height: 2px;
    background-color: #999999;
}

// Element classes:
// ---------------------------------------------------------------------

.p-formatted-element {
    display: inline;
}

.p-formatted-element-string-text {}

.p-formatted-element-string-text-bold {
    font-weight: bold;
}

.p-formatted-element-string-text-italic {
    font-style: italic;
}

.p-formatted-element-string-text-underlined {
    text-decoration: underline;
}

.p-formatted-element-string-text-strikethrough {
    text-decoration: line-through;
}

.p-formatted-element-string-text-monospace {
    font-family: "Source Code Pro", monospace;
}

.p-formatted-element-string-formula {}

.p-formatted-element-string-image {}

.p-formatted-element-string-link-external {}

.p-formatted-element-string-raw-html {}
