<template>
    <p-formatted-unit-renderer :value="unit" />
</template>

<script>
import Color from "color";
import { FormattedElementStringSource, Alignment, FormattedSegmentListKind } from '../../domain/ts/Enums';
import FormattedElementStringText from "../../domain/ts/Formatted/FormattedElementStringText";
import FormattedElementStringCode from "../../domain/ts/Formatted/FormattedElementStringCode";
import FormattedElementStringFormula from "../../domain/ts/Formatted/FormattedElementStringFormula";
import FormattedElementStringImage from "../../domain/ts/Formatted/FormattedElementStringImage";
import FormattedElementStringRawHTML from "../../domain/ts/Formatted/FormattedElementStringRawHTML";
import FormattedSegmentText from "../../domain/ts/Formatted/FormattedSegmentText";
import FormattedSegmentHeading from "../../domain/ts/Formatted/FormattedSegmentHeading";
import FormattedUnit from "../../domain/ts/Formatted/FormattedUnit";
import FormattedEvaluatorTest from "../ts/FormattedEvaluatorTest";
import FormattedSegmentTableColumn from '../../domain/ts/Formatted/FormattedSegmentTableColumn';
import FormattedSegmentTableRow from '../../domain/ts/Formatted/FormattedSegmentTableRow';
import FormattedSegmentTable from '../../domain/ts/Formatted/FormattedSegmentTable';
import FormattedSegmentCode from "../../domain/ts/Formatted/FormattedSegmentCode";
import FormattedSegmentList from "../../domain/ts/Formatted/FormattedSegmentList";
import FormattedSegmentListItemLeaf from "../../domain/ts/Formatted/FormattedSegmentListItemLeaf";
import FormattedSegmentListItemNode from "../../domain/ts/Formatted/FormattedSegmentListItemNode";
import FormattedSegmentQuote from "../../domain/ts/Formatted/FormattedSegmentQuote";
import FormattedSegmentSeparator from "../../domain/ts/Formatted/FormattedSegmentSeparator";

export default {
    data() {
        let unit = new FormattedUnit([
            new FormattedSegmentHeading([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "Heading 1"
                    )
                ],
                1
            ),
            new FormattedSegmentHeading([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "Heading 2"
                    )
                ],
                2
            ),
            new FormattedSegmentHeading([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "Heading 3"
                    )
                ],
                3
            ),
            new FormattedSegmentHeading([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "Heading 4"
                    )
                ],
                4
            ),
            new FormattedSegmentHeading([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "Heading 5"
                    )
                ],
                5
            ),
            new FormattedSegmentHeading([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "Heading 6"
                    )
                ],
                6
            ),
            new FormattedSegmentText([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some default text."
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some bold text.",
                        true,
                        false,
                        false,
                        false,
                        false,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some italic text.",
                        false,
                        true,
                        false,
                        false,
                        false,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some underlined text.",
                        false,
                        false,
                        true,
                        false,
                        false,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some strikethrough text.",
                        false,
                        false,
                        false,
                        true,
                        false,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some monospace text.",
                        false,
                        false,
                        false,
                        false,
                        true,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some red text.",
                        false,
                        false,
                        false,
                        false,
                        false,
                        Color("#ff0000"),
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some text with a red background.",
                        false,
                        false,
                        false,
                        false,
                        false,
                        null,
                        Color("#ff0000")
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some text with everything.",
                        true,
                        true,
                        true,
                        true,
                        true,
                        Color("#00ffff"),
                        Color("#ff0000")
                    )
                ]
            ),
            new FormattedSegmentHeading([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some default text."
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some bold text.",
                        true,
                        false,
                        false,
                        false,
                        false,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some italic text.",
                        false,
                        true,
                        false,
                        false,
                        false,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some underlined text.",
                        false,
                        false,
                        true,
                        false,
                        false,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some strikethrough text.",
                        false,
                        false,
                        false,
                        true,
                        false,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some monospace text.",
                        false,
                        false,
                        false,
                        false,
                        true,
                        null,
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some red text.",
                        false,
                        false,
                        false,
                        false,
                        false,
                        Color("#ff0000"),
                        null
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some text with a red background.",
                        false,
                        false,
                        false,
                        false,
                        false,
                        null,
                        Color("#ff0000")
                    ),
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some text with everything.",
                        true,
                        true,
                        true,
                        true,
                        true,
                        Color("#00ffff"),
                        Color("#ff0000")
                    )
                ],
                1
            ),
            new FormattedSegmentText([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some left-aligned text."
                    )
                ],
                Alignment.Left
            ),
            new FormattedSegmentText([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some center-aligned text."
                    )
                ],
                Alignment.Center
            ),
            new FormattedSegmentText([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is some right-aligned text."
                    )
                ],
                Alignment.Right
            ),
            new FormattedSegmentCode(
                new FormattedElementStringCode(
                    FormattedElementStringSource.String,
                    "message = \"hello, world.\"\n\nprint(message)\n",
                    "python"
                )
            ),
            new FormattedSegmentText([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is a formula:"
                    ),
                    new FormattedElementStringFormula(
                        FormattedElementStringSource.String,
                        "\\sqrt{a^2 + b^2}"
                    )
                ],
                Alignment.Left
            ),
            new FormattedSegmentText([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is a red formula:"
                    ),
                    new FormattedElementStringFormula(
                        FormattedElementStringSource.String,
                        "\\sqrt{a^2 + b^2}",
                        Color("#ff0000")
                    )
                ],
                Alignment.Left
            ),
            new FormattedSegmentText([
                    new FormattedElementStringText(
                        FormattedElementStringSource.String,
                        "This is a formula with a red background:"
                    ),
                    new FormattedElementStringFormula(
                        FormattedElementStringSource.String,
                        "\\sqrt{a^2 + b^2}",
                        null,
                        Color("#ff0000")
                    )
                ],
                Alignment.Left
            ),
            new FormattedSegmentTable(
                [
                    new FormattedSegmentTableColumn([
                        new FormattedElementStringText(
                            FormattedElementStringSource.String,
                            "A",
                            true
                        )
                    ]),
                    new FormattedSegmentTableColumn([
                        new FormattedElementStringText(
                            FormattedElementStringSource.String,
                            "B",
                            true
                        )
                    ])
                ],
                [
                    new FormattedSegmentTableRow([
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "5"
                            )
                        ],
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "1"
                            )
                        ]
                    ]),
                    new FormattedSegmentTableRow([
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "2"
                            )
                        ],
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "9"
                            )
                        ]
                    ])
                ]
            ),
            new FormattedSegmentText([
                new FormattedElementStringImage(
                    FormattedElementStringSource.String,
                    "data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg=="
                )
            ]),
            new FormattedSegmentText([
                new FormattedElementStringRawHTML(
                    FormattedElementStringSource.String,
                    "<b>This is some raw HTML</b>"
                )
            ]),
            new FormattedSegmentList(
                FormattedSegmentListKind.Bullet,
                [
                    new FormattedSegmentListItemLeaf(
                        null,
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "This is a bullet point list."
                            )
                        ]
                    ),
                    new FormattedSegmentListItemNode(
                        FormattedSegmentListKind.Bullet,
                        null,
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "With multiple,"
                            )
                        ],
                        [
                            new FormattedSegmentListItemLeaf(
                                null,
                                [
                                    new FormattedElementStringText(
                                        FormattedElementStringSource.String,
                                        "nested elements."
                                    )
                                ]
                            )
                        ]
                    )
                ]
            ),
            new FormattedSegmentList(
                FormattedSegmentListKind.Numbered,
                [
                    new FormattedSegmentListItemLeaf(
                        null,
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "This is a numbered list."
                            )
                        ]
                    ),
                    new FormattedSegmentListItemNode(
                        FormattedSegmentListKind.Numbered,
                        null,
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "With multiple,"
                            )
                        ],
                        [
                            new FormattedSegmentListItemLeaf(
                                null,
                                [
                                    new FormattedElementStringText(
                                        FormattedElementStringSource.String,
                                        "nested elements."
                                    )
                                ]
                            )
                        ]
                    )
                ]
            ),
            new FormattedSegmentList(
                FormattedSegmentListKind.Task,
                [
                    new FormattedSegmentListItemLeaf(
                        true,
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "This is a task list."
                            )
                        ]
                    ),
                    new FormattedSegmentListItemNode(
                        FormattedSegmentListKind.Task,
                        false,
                        [
                            new FormattedElementStringText(
                                FormattedElementStringSource.String,
                                "With multiple,"
                            )
                        ],
                        [
                            new FormattedSegmentListItemLeaf(
                                true,
                                [
                                    new FormattedElementStringText(
                                        FormattedElementStringSource.String,
                                        "nested elements."
                                    )
                                ]
                            )
                        ]
                    )
                ]
            ),
            new FormattedSegmentSeparator(),
            new FormattedSegmentQuote([
                new FormattedElementStringText(
                    FormattedElementStringSource.String,
                    "This is some quoted text."
                )
            ])
        ]);

        unit.accept(new FormattedEvaluatorTest());

        return {
            unit
        };
    }
};
</script>